
/* Start our skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills .imag img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill {
  margin: 10px;
}
.our-skills .skill .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.our-skills .skill .text .lang {
  font-size: 20px;
  font-weight: bold;
}
.our-skills .skill .text .percentage {
  display: block;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 13px;
  color: var(--main-color);
  font-weight: bold;
}
.our-skills .skill .fill {
  background-color: #eeeeee;
  height: 30px;
  position: relative;
  transition:var(--main-transition);
}
.our-skills .skill .fill span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End our skills */