/* Start Stats */
.stats{
padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url("../img/stats.jpg");
    background-size: cover;
    min-height:300px ;
}
.stats::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}
.stats h2{
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.stats .box{
    background-color:white;
    padding: 30px 15px;
    text-align:center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
}
.stats .box:hover{
    opacity: 1;
}
.stats .box::before ,
.stats .box::after{
    content:"";
    position: absolute;
    width: 2px;
    background-color:var(--main-color);
    height:0;
    transition:var(--main-transition);
}
.stats .box::before{
    top: 0;
    left: 0;
}
.stats .box::after{
    bottom:0;
    right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after{
 height: 100%;
}

.stats .box .number{
    display: block;
    font-size: 50px;
    font-weight:bold;
    margin: 10px 0;

}
.stats .box .text{
 color: var(--main-color);
 font-weight:bold;
 font-style: italic;
}

/* End Stats */